@import 'variables.scss';
.landing{
    .profiles-list{
        margin-bottom: 80px;
    }
}
.profiles-list{
    margin: 40px auto;
    
    .item{
        text-align: center;
        cursor: pointer;

        &.selected{
            border:1px solid $primary;
            &::before{
                background-color: $primary;
                content: 'Seleccionado';
                color:white;
                width: 100%;
                font-size: 1.2em;
                display: block;
            }
        }
        
        h4{
            font-family: $handwriting;
            color:white;
            text-transform: capitalize;
        }
        .image{
            width:140px;
            height: 140px;
            border-radius: 100%;
            overflow: hidden;
            display: inline-block;
            margin-bottom: 10px;
        }
        .pricing{
            font-size: 1.2em;
        }
        .summary{
            opacity: .5;
            margin-bottom: 10px;
        }
    }
}