$handwriting: "Caveat", cursive;
// $headings: "Staatliches", cursive;
// $headings: "Trade Winds", cursive;
// $headings: "Jolly Lodger", cursive;
$headings: "Bahiana", cursive;
$primary: #ff7800;
$primary_dark: #736b15;
$secondary: rgb(12, 12, 12, 0.8);
